<div class="container">
    <h2 class="text-capitalize sub-heading">cart</h2>
    <div class="row">
        <div class="col-md-12">
            {% if carts %}
            <!-- Form Start -->
            <form action="{% url "carts:cart_change" %}" method="POST">
                {% csrf_token %}
                <!-- Table Content Start -->
                <div class="table-content table-responsive mb-50">
                    <table>
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Total</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart in carts %}
                            <tr>
                                <td class="product-thumbnail">
                                    <a href="{{ cart.product.get_absolute_url }}"><img src="{{ cart.product.image.url }}" alt="cart-image" /></a>
                                </td>
                                <td class="product-name"><a href="{{ cart.product.get_absolute_url }}">{{ cart.product.name }}</a></td>
                                <td class="product-price"><span class="amount">{{ cart.product.price_with_discount }} р.</span></td>
                                <td class="product-quantity"><input type="number" name={{cart.pk}} value="{{ cart.quantity }}" /></td>
                                <td class="product-subtotal">{{ cart.product_total_price }} р.</td>
                                <td class="product-remove"> <a href="{% url "carts:cart_remove" %}" class="remove-cart" data-cart-id="{{ cart.pk }}">{% csrf_token %}<i class="fa fa-times" aria-hidden="true"></i></a></td>
                            </tr>
                            {% endfor %}
                            {% comment %} <tr>
                                <td class="product-thumbnail">
                                    <a href="#"><img src="img/products/2.jpg" alt="cart-image" /></a>
                                </td>
                                <td class="product-name"><a href="#">Products Name Here</a></td>
                                <td class="product-price"><span class="amount">£50.00</span></td>
                                <td class="product-quantity"><input type="number" value="1" /></td>
                                <td class="product-subtotal">£50.00</td>
                                <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                            </tr> {% endcomment %}
                        </tbody>
                    </table>
                </div>
                <!-- Table Content Start -->
                <div class="row">
                    <!-- Cart Button Start -->
                    <div class="col-lg-8 col-md-7">
                        <div class="buttons-cart">
                            <input type="submit" value="Update Cart" />
                            <a href="{% url 'goods:shop'%}">Continue Shopping</a>
                        </div>
                    </div>
                    <!-- Cart Button Start -->
                    <!-- Cart Totals Start -->
                    <div class="col-lg-4 col-md-12">
                        <div class="cart_totals">
                            <h2>Cart Totals</h2>
                            <br />
                            <table>
                                <tbody>
                                    {% comment %} <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td><span class="amount">$215.00</span></td>
                                    </tr> {% endcomment %}
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td>
                                            <strong><span class="amount">{{ carts.total_price}} р.</span></strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="wc-proceed-to-checkout">
                                <a href="#">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                    <!-- Cart Totals End -->
                </div>
                <!-- Row End -->
            </form>
            {% else %}
            <h6> Корзина пуста. <a href="{% url "goods:shop" %}">В каталог</a></h6>
            {% endif %}
            <!-- Form End -->
        </div>
    </div>
        <!-- Row End -->
</div>