<h3>Оставить комментарий</h3>
                            <p class="text-capitalize mb-40">{{ post.title }}</p>
                            <form id="contact-form" class="contact-form" action="{% url 'blog:post_comment' post.slug %}" method="post">
                                {% csrf_token %}
                                <div class="address-wrapper">

                                <div class="row">
                                    {% for f in form %}
                                    {% if forloop.last %}
                                    <div class="col-md-12">
                                            <div class="address-textarea">
                                                {{ f }}
                                            </div>
                                    </div>
                                    {% else %}
                                        <div class="col-md-6">
                                            <div class="address-fname">
                                                {{ f }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                                <p class="form-message ml-15"></p>
                                <div class="col-xs-12 footer-content mail-content">
                                    <div class="send-email pull-right">
                                        <input type="submit" value="Отправить" class="submit">
                                    </div>
                                </div>
                            </form>