{% extends 'base.html' %}
{% load i18n %}
{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li class="active"><a href="login.html">Восстановление пароля</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        {% endblock %}

{% block content %}

<p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{% url 'users:login' %}">{% translate 'Log in' %}</a></p>

{% endblock %}
