{% extends 'base.html' %}

{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li class="active"><a href="login.html">Восстановление пароля</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        {% endblock %}

{% block content %}
<div class="log-in pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
<h3>Новый пароль</h3>
<form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{ next }}">
                                    {{ form.non_field_errors }}
                                    {% for field in form %}
                                    <div class="form-group">
                                        <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                                        {{ field }}
                                        {{ field.errors }}
                                    </div>
                                    {% endfor %}
                                    <input type="submit" value="Сбросить по E-mail" class="return-customer-btn">
</form>
                </div>
                </div>
                </div>
                </div>
{% endblock %}
