{% extends "base.html" %}
{% load i18n %}


{% block header %}
{% include 'header.html' %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li class="active"><a href="login.html">Восстановление пароля</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
{% endblock %}

{% block content %}

<p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

<p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

{% endblock %}
