{% extends "base.html" %}
{% load static %}
{% load carts_tags %}



{% block header %}
    {% include "header_cart.html" %}
{% endblock %}

{% block breadcrumbs %}
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="cart.html">Cart</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
{% endblock %}

{% block content %} 
    {% get_carts_for_user request as carts %}
    <!-- Cart Main Area Start -->
    <div class="cart-main-area pb-80 pb-sm-50">
        {% include "carts/includes/cart_main_include.html" %}
    </div>
    <!-- Cart Main Area End -->
{% endblock %}