{% extends "base.html" %}
{% load static %}
{% load cache %}

{% block header %}
    {% include "header_with_carts_buttom.html" %}
{% endblock %}

{% block content %}
{% cache 60 slider-three %}
<div class="slider-area slider-style-three">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="slider-wrapper theme-default">
                    <!-- Slider Background  Image Start-->
                    <div id="slider" class="nivoSlider">
                        <a href="shop.html"> <img src="{% static 'img/slider/5.jpg' %}" data-thumb="img/slider/5.jpg" alt="" title="#slider-1-caption1"/></a>
                        <a href="shop.html"><img src="{% static 'img/slider/6.jpg' %}" data-thumb="img/slider/6.jpg" alt="" title="#slider-1-caption2"/></a>
                    </div>
                    <!-- Slider Background  Image Start-->
                    <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                        <div class="text-content-wrapper">
                            <div class="text-content">
                                <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="2s" data-wow-delay="0s">Big Sale</h4>
                                <h1 class="title1 wow bounceInRight text-white mb-16" data-wow-duration="2s" data-wow-delay="1s">Hand Tools <br>Power Saw Machine</h1>
                                <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                                    <a class="button slider-btn" href="shop.html">Shop Now</a>                    
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
                        <div class="text-content-wrapper">
                            <div class="text-content slide-2">
                                <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="1s" data-wow-delay="1s">Big Sale</h4>
                                <h1 class="title1 wow flipInX text-white mb-16" data-wow-duration="1s" data-wow-delay="2s">Hand Tools <br>Power Saw Machine</h1>
                                <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="1s" data-wow-delay="3s">
                                    <a class="button slider-btn" href="shop.html">Shop Now</a>                    
                                </div>
                            </div>       
                        </div>
                    </div>   
                </div>
            </div>
            <div class="col-md-4">
                 <!-- Single Banner Start -->
                <div class="single-banner zoom mb-20">
                    <a href="#"><img src="{% static 'img/banner/9.jpg' %}" alt="slider-banner"></a>
                </div>
                <!-- Single Banner End -->
                <!-- Single Banner Start -->
                <div class="single-banner zoom">
                    <a href="#"><img src="{% static 'img/banner/10.jpg' %}" alt="slider-banner"></a>
                </div>
                <!-- Single Banner End -->
            </div>
        </div>
    </div>
</div>
{% endcache %}
<!-- Slider Area End --> 
<!-- Product Area Start -->
<div class="product-area pt-30">
    <div class="container">
        <div class="row">
            {% for product in best_products %}
            <!-- Single Product Start -->                    
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="pro-img">
                        <a href="{{ product.get_absolute_url }}">
                            <img class="primary-img" width="270" height="210" src="{{ product.image.url }}" alt="single-product">
                            <img class="secondary-img" width="270" height="210" src="{{ product.image.url }}" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>                                
                        <h4><a href="{{ product.get_absolute_url }}">{{ product.name|truncatechars:20 }}</a></h4>
                        <p><span class="price">{{ product.price_with_discount }} р.</span><del class="prev-price">{{ product.price }} р.</del></p>
                        <div class="pro-actions">
                            <div class="actions-secondary">
                                            {% comment %} <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a> {% endcomment %}
                                            <a class="add-cart" href="{% url "carts:cart_add" %}" data-product-id="{{ good.id }}" data-toggle="tooltip" title="Add to cart">{% csrf_token %}В корзину</a>
                                            {% comment %} <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a> {% endcomment %}
                                        </div>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            {% endfor %}
        </div>
    </div>
</div> 
<!-- Product Area End --> 
<!-- Banner Start -->
<div class="upper-banner banner pb-60">
    <div class="container">
       <div class="row">
           <!-- Single Banner Start -->
           <div class="col-sm-6">
                <div class="single-banner zoom">
                    <a href="#"><img src="{% static 'img/banner/1.png' %}" alt="slider-banner"></a>
                </div>
            </div>
           <!-- Single Banner End -->
            <!-- Single Banner Start -->
           <div class="col-sm-6">
                <div class="single-banner zoom">
                    <a href="#"><img src="{% static 'img/banner/2.png' %}" alt="slider-banner"></a>
                </div>
            </div>
           <!-- Single Banner End -->
       </div>
       <!-- Row End -->
    </div>
    <!-- Container End -->
</div>                                
<!-- Banner End -->
<!-- New Products Start -->
<div class="new-products pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 order-2">
                <div class="side-product-list">
                    <div class="group-title">
                        <h2>Top Products</h2>
                    </div>
                    <!-- Deal Pro Activation Start -->
                    <div class="slider-right-content side-product-list-active owl-carousel">
                        <!-- Double Product Start -->
                        <div class="double-pro">
                            {% for product in products %}
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="{{ product.get_absolute_url }}"><img class="img" width="95" height="74" src="{{ product.image.url }}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">{{ product.name|truncatechars:15 }}</a></h4>
                                    <p><span class="price">{{ product.price_with_discount }}</span><del class="prev-price">{{ product.price }}</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                          
                            {% if forloop.counter|divisibleby:5 %}
                                </div>
                                <div class="double-pro">
                            {% endif %}
                            <!-- Single Product End -->
                        
                        {% endfor %}
                        </div>
                        {% comment %} <!-- Double Product End -->
                        <!-- Double Product Start -->
                        <div class="double-pro">
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="product.html"><img class="img" src="{% static 'img/products/6.jpg' %}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">Products Name Here</a></h4>
                                    <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="product.html"><img class="img" src="{% static 'img/products/7.jpg' %}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">Products Name Here</a></h4>
                                    <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="product.html"><img class="img" src="{% static 'img/products/8.jpg' %}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">Products Name Here</a></h4>
                                    <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="product.html"><img class="img" src="{% static 'img/products/5.jpg' %}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">Products Name Here</a></h4>
                                    <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="product.html"><img class="img" src="{% static 'img/products/4.jpg' %}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">Products Name Here</a></h4>
                                    <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                        </div>
                        <!-- Double Product End -->
                        <!-- Double Product Start -->
                        <div class="double-pro">
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="product.html"><img class="img" src="{% static 'img/products/1.jpg' %}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">Products Name Here</a></h4>
                                    <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="product.html"><img class="img" src="{% static 'img/products/2.jpg' %}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">Products Name Here</a></h4>
                                    <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="product.html"><img class="img" src="{% static 'img/products/3.jpg' %}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">Products Name Here</a></h4>
                                    <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="product.html"><img class="img" src="{% static 'img/products/4.jpg' %}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">Products Name Here</a></h4>
                                    <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <div class="pro-img">
                                    <a href="product.html"><img class="img" src="{% static 'img/products/5.jpg' %}" alt="product-image"></a>
                                </div>
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h4><a href="product.html">Products Name Here</a></h4>
                                    <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                </div>
                            </div>
                            <!-- Single Product End -->
                        </div>
                        <!-- Double Product End -->                                 {% endcomment %}
                    </div>
                    <!-- Deal Pro Activation End -->
                </div>
            </div>
            <div class="col-xl-9 col-lg-8  order-lg-2">
                <!-- New Pro Content End -->
                <div class="new-pro-content">
                    <div class="pro-tab-title border-line">
                        <!-- Featured Product List Item Start -->
                        <ul class="nav product-list product-tab-list">
                            <li><a  class="active" data-toggle="tab" href="#new-arrival">New Arrivals</a></li>
                            <li><a data-toggle="tab" href="#toprated">Featured</a></li>
                            <li><a data-toggle="tab" href="#new-arrival">Top Rated</a></li>
                        </ul>
                        <!-- Featured Product List Item End -->
                    </div>
                    <div class="tab-content product-tab-content jump">
                        <div id="new-arrival" class="tab-pane active">
                            <!-- New Products Activation Start -->
                            <div class="new-pro-active owl-carousel">
                                {% for product in products %}
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                            <img class="primary-img" width="238" height=" 185.11" src="{{ product.image.url }}" alt="single-product">
                                            <img class="secondary-img" width="238" height="185" src="{{ product.image.url }}" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>                                
                                        <h4><a href="product.html">{{ product.name|truncatechars:20}}</a></h4>
                                        <p><span class="price">{{ product.price_with_discount }}</span><del class="prev-price">{{ product.price }}</del></p>
                                        <div class="pro-actions">
                                            <div class="actions-secondary">
                                                {% comment %} <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a> {% endcomment %}
                                                <a class="add-cart" href="{% url "carts:cart_add" %}" data-product-id="{{ good.id }}" data-toggle="tooltip" title="Add to cart">{% csrf_token %}В корзину</a>
                                                {% comment %} <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                </div>                                        
                                <!-- Single Product End -->
                                {% endfor %}
                                
                            </div>
                            <!-- New Products Activation End -->
                        </div>
                        <!-- New Products End -->
                        <div id="toprated" class="tab-pane">
                            <!-- New Products Activation Start -->
                            <div class="new-pro-active owl-carousel">
                                {% for product in products %}
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                            <img class="primary-img" width="238" height="185" src="{{ product.image.url }}" alt="single-product">
                                            <img class="secondary-img" width="238" height="185" src="{{ product.image.url }}" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>                                
                                        <h4><a href="product.html">{{ product.name|truncatechars:20}}</a></h4>
                                        <p><span class="price">{{ product.price_with_discount }}</span><del class="prev-price">{{ product.price }}</del></p>
                                        <div class="pro-actions">
                                            <div class="actions-secondary">
                                                {% comment %} <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a> {% endcomment %}
                                                <a class="add-cart" href="{% url "carts:cart_add" %}" data-product-id="{{ good.id }}" data-toggle="tooltip" title="Add to cart">{% csrf_token %}В корзину</a>
                                                {% comment %} <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Product Content End -->
                                </div>                                        
                                <!-- Single Product End -->
                                {% endfor %}
                                
                            </div>
                            <!-- New Products Activation End -->
                        </div>
                    </div>
                    <!-- Tab-Content End -->
                    <div class="single-banner zoom mt-30 mt-sm-10">
                    <a href="#"><img src="{% static 'img/banner/tab-banner.jpg' %}" alt="slider-banner"></a>
                </div>
                </div>
                <!-- New Pro Content End -->                        
            </div>
        </div>

    </div>
    <!-- Container End -->
</div>
<!-- New Products End -->
<!-- Company Policy Start -->
<div class="company-policy pb-60">
    <div class="container">
        <div class="row">
            <!-- Single Policy Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-policy">
                    <div class="icone-img">
                        <img src="{% static 'img/icon/1.png' %}" alt="">
                    </div>
                    <div class="policy-desc">
                        <h3>Free Delivery</h3>
                        <p>Free shipping on all order</p>
                    </div>
                </div>
            </div>
            <!-- Single Policy End -->
            <!-- Single Policy Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-policy">
                    <div class="icone-img">
                        <img src="{% static 'img/icon/2.png' %}" alt="">
                    </div>
                    <div class="policy-desc">
                        <h3>Online Support 24/7</h3>
                        <p>Support online 24 hours</p>
                    </div>
                </div>
            </div>
            <!-- Single Policy End -->
            <!-- Single Policy Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-policy">
                    <div class="icone-img">
                        <img src="{% static 'img/icon/3.png' %}" alt="">
                    </div>
                    <div class="policy-desc">
                        <h3>Money Return</h3>
                        <p>Back guarantee under 7 days</p>
                    </div>
                </div>
            </div>
            <!-- Single Policy End -->
            <!-- Single Policy Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-policy">
                    <div class="icone-img">
                        <img src="{% static 'img/icon/4.png' %}" alt="">
                    </div>
                      <div class="policy-desc">
                        <h3>Member Discount</h3>
                        <p>Onevery order over $30.00</p>
                    </div>
                </div>
            </div>
            <!-- Single Policy End -->
        </div>
    </div>
</div>
<!-- Company Policy End -->   
<!-- Best Products Start -->
<div class="best-seller-product pb-40">
    <div class="container">
        <div class="group-title">
            <h2>Best Seller Products</h2>
        </div>
        <!-- Best Product Activation Start -->
        <div class="best-seller-pro-active  owl-carousel slider-right-content">
            <!-- Double Product Start -->
            <div class="double-pro">
                {% for product in products %}
                {% if forloop.counter < 13 %}
                <!-- Single Product Start -->
                <div class="single-product">
                    <div class="pro-img">
                        <a href="{{ product.get_absolute_url }}"><img class="img" width="95" height="74" src="{{ product.image.url }}" alt="product-image"></a>
                    </div>
                    <div class="pro-content">
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <h4><a href="product.html">{{ product.name|truncatechars:25 }}</a></h4>
                        <p><span class="price">{{ product.price_with_discount }}</span><del class="prev-price">{{ product.price }}</del></p>
                    </div>
                </div>
                <!-- Single Product End -->
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                    </div>
                    <!-- Double Product End -->
                    <!-- Double Product Start -->
                    <div class="double-pro">
                {% endif %}
                {% endfor %}
            </div>
            <!-- Double Product End -->
        </div>
        <!-- Best Product Activation End -->
    </div>
    <!-- Container End -->
</div>
<!-- Best Product End -->             
<!-- Blog Page Start -->
<div class="blog-area pb-60">
    <div class="container">
        <div class="group-title">
            <h2>From The Blog</h2>
        </div>
         <!-- Popular Categorie Activation Start -->
         <div class="blog-active owl-carousel">
            {% for post in posts %}
            <!-- Single Blog Start -->
            <div class="single-blog">
                <div class="blog-img">
                    <a href="{{ post.get_absolute_url }}"><img width="370" height="240" src={% if post.image %}"{{ post.image.url }}"{% else %}"{% static 'img/blog/1.jpg' %}"{% endif %} alt="blog-image"></a>
                </div>
                <div class="blog-content">
                        <h4 class="blog-title"><a href="blog-details.html">{{ post.title|truncatechars:45}}</a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By: </span> <a href="#">{{ post.author }},</a></li>
                            <li><span>On: </span> <a href="#">{{ post.date_publish }}</a></li>
                        </ul>
                    </div>
                    <div class="readmore">
                        <a href="{{ post.get_absolute_url }}">Read More.....</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog End -->
            {% endfor %}
         </div>
         <!-- Popular Categorie Activation End -->
    </div>
    <!-- Container End -->
</div>
<!-- Blog Page End -->
{% endblock %}