{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block header %}
    {% include "goods/header.html" %}
{% endblock %}

{% block breadcrumbs %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url "index" %}">Главная</a></li>
                <li class="active"><a href="{% url "goods:shop" %}">Каталог товаров</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
{% endblock %}

{% block content %} 
<div class="main-shop-page pb-60">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3  order-2">
                <div class="sidebar white-bg">
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>categories</h2>
                        </div>
                        <ul>

                            {% if not cat_selected %}
                            <li><a href="{% url "goods:shop" %}" style="color: #f1ac06">Все категории</a></li>
                            {% else %}
                            <li><a href="{% url "goods:shop" %}">Все категории</a></li>
                            {% endif %}

                            {% get_categories as categories %}
                            {% for category in categories %}
                            {% if cat_selected == category %}
                            <li><a href="{{ category.get_absolute_url }}" style="color: #f1ac06">{{ category.name }} </a></li>
                            {% else %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category.name }} </a></li>
                            {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>color</h2>
                        </div>
                        <ul class="color-option">
                            <li>
                                <a class="blue" href="#"></a>
                            </li>
                            <li>
                                <a class="green" href="#"></a>
                            </li>
                            <li>
                                <a class="black" href="#"></a>
                            </li>
                            <li>
                                <a class="rose" href="#"></a>
                            </li>
                            <li>
                                <a class="red" href="#"></a>
                            </li>
                            <li>
                                <a class="purple" href="#"></a>
                            </li>
                            <li>
                                <a class="rose" href="#"></a>
                            </li>
                            <li>
                                <a class="yellow" href="#"></a>
                            </li>
                            <li>
                                <a class="orange" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>price</h2>
                        </div>
                        <form action="#">
                            <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                <div class="ui-slider-range ui-corner-all ui-widget-header" ></div>
                            </div>
                                <input id="amount" class="amount" readonly="" type="text">
                        </form>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>manufacturer</h2>
                        </div>
                        <ul class="manufactures-list">
                            <li><a href="#">Brand one (14)</a></li>
                            <li><a href="#">Brand two (13)</a></li>
                            <li><a href="#">Brand three (13)</a></li>
                            <li><a href="#">Brand four (14)</a></li>
                            <li><a href="#">Brand five (13)</a></li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Compare Products</h2>
                        </div>
                        <div class="best-seller-pro-two compare-pro best-seller-pro-two owl-carousel">
                            <!-- Best Seller Multi Product Start -->
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                           <img class="primary-img" src="img/products/1.jpg" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="product.html">Products Name Here</a></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p><span class="price">$38.00</span><del class="prev-price">$40.00</del></p>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- Best Seller Multi Product End -->
                            <!-- Best Seller Multi Product Start -->
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                            <img class="primary-img" src="img/products/2.jpg" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="product.html">Products Name Here</a></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p><span class="price">$32.00</span></p>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- Best Seller Multi Product End -->
                            <!-- Best Seller Multi Product Start -->
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                           <img class="primary-img" src="img/products/3.jpg" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="product.html">Products Name Here</a></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p><span class="price">$35.00</span><del class="prev-price">39.00</del></p>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- Best Seller Multi Product End -->
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>My Wish List</h2>
                        </div>
                        <div class="best-seller-pro-two compare-pro best-seller-pro-two owl-carousel">
                            <!-- Best Seller Multi Product Start -->
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                            <img class="primary-img" src="img/products/4.jpg" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="product.html">Products Name Here</a></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p><span class="price">$86.00</span><del class="prev-price">90.00</del></p>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- Best Seller Multi Product End -->
                            <!-- Best Seller Multi Product Start -->
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                            <img class="primary-img" src="img/products/1.jpg" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="product.html">Products Name Here</a></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p><span class="price">$32.00</span></p>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- Best Seller Multi Product End -->
                            <!-- Best Seller Multi Product Start -->
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                           <img class="primary-img" src="img/products/2.jpg" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="product.html">Products Name Here</a></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p><span class="price">$38.00</span><del class="prev-price">45.00</del></p>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- Best Seller Multi Product End -->
                        </div>
                    </div>
                    <!-- Single Banner Start -->
                    <div class="single-sidebar single-banner zoom pt-20">
                        <a href="#" class="hidden-sm"><img src="img/banner/8.jpg" alt="slider-banner"></a>
                        <a href="#" class="visible-sm"><img src="img/banner/6.jpg" alt="slider-banner"></a>
                    </div>
                    <!-- Single Banner End -->
                </div>
            </div>
            <!-- Sidebar Shopping Option End -->                    
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-lg-2">
                <!-- Grid & List View Start -->
                <div class="grid-list-top border-default universal-padding fix mb-30">
                    <div class="grid-list-view f-left">
                        <ul class="list-inline nav">
                            <li><a data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a></li>
                            <li><a  class="active" data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                            <li><span class="grid-item-list"> Items 1-12 of 13</span></li>
                        </ul>
                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter f-right">
                        <div class="toolbar-sorter">
                            <form action="" method="get">
                                {% if request.GET.product %}
                                <input type="hidden" name="product" value="{{request.GET.product}}">
                                {% endif %}
                                
                                <label>sort by</label>
                                <select class="sorter" name="sorter">
                                    <option value="pk" {% if not request.GET.sorter or request.GET.sorter == 'pk' %} selected="selected" {% endif %}>position</option>
                                    <option value="name" {% if request.GET.sorter == 'name' %} selected="selected" {% endif %}>Product Name</option>
                                    <option value="price" {% if request.GET.sorter == 'price' %} selected="selected" {% endif %}>Price</option>
                                </select>
                            <button type="submit"><span><i class="fa fa-arrow-up"></i></span></button>
                            </form>
                        </div>
                    </div>
                    <!-- Toolbar Short Area End -->
                </div>
                <!-- Grid & List View End -->
                <div class="main-categorie">
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content fix">
                        <div id="grid-view" class="tab-pane ">
                            <div class="row">
                                {% for good in goods %}
                                <!-- Single Product Start -->                    
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="{% url 'goods:product' good.slug %}">
                                                {% if good.image %}
                                                <img class="primary-img" src="{{ good.image.url }}" alt="single-product">
                                                <img class="secondary-img" src="{{ good.image.url }}" alt="single-product">
                                                {% else %}
                                                <img class="secondary-img" src="{% static "img/products/1.jpg" %}" alt="single-product">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>                                
                                            <h4><a href="{% url 'goods:product' good.slug %}">{% autoescape off %}
                                                                                                {% if good.headline %}
                                                                                                    {{ good.headline }}
                                                                                                {% else %}
                                                                                                    {{ good.name}}
                                                                                                {% endif %}
                                                                                            {% endautoescape %}</a></h4>
                                            {% if good.discount %}
                                            <p><span class="price">{{ good.price_with_discount }}</span><del class="prev-price">{{ good.price }}</del></p>
                                            {% else %}
                                            <p><span class="price">{{ good.price }}</span></p>
                                            {% endif %}
                                            <div class="pro-actions">
                                                <div class="actions-secondary">
                                                    {% comment %} <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a> {% endcomment %}
                                                    <a class="add-cart" href="{% url "carts:cart_add" %}" data-product-id="{{ good.id }}" data-toggle="tooltip" title="Add to Cart">
                                                        {% csrf_token %}
                                                        В корзину
                                                    </a>
                                                    {% comment %} <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                {% endfor %}
                                
                                                 
                            </div>                                    
                        </div>
                        <!-- #grid view End -->
                        <div id="list-view" class="tab-pane active">
                            <!-- Single Product Start -->
                            {% for good in goods %}
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href={% url 'goods:product' good.slug %}>
                                        {% if good.image %}
                                        <img class="primary-img" src="{{ good.image.url }}" alt="single-product">
                                        <img class="secondary-img" src="{{ good.image.url }}" alt="single-product">
                                        {% else %}
                                        <img class="secondary-img" src="{% static "img/products/1.jpg" %}" alt="single-product">
                                        {% endif %}
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>                                
                                    <h4><a href="{% url 'goods:product' good.slug %}">{% autoescape off %}
                                                                                        {% if good.headline %}
                                                                                            {{ good.headline }}
                                                                                        {% else %}
                                                                                            {{ good.name}}
                                                                                        {% endif %}
                                                                                    {% endautoescape %}</a></h4>

                                    {% if good.discount %}
                                        <p><span class="price">{{ good.price_with_discount }} р.</span><del class="prev-price">{{ good.price }} р.</del></p>
                                    {% else %}
                                        <p><span class="price">{{ good.price }}</span></p>
                                    {% endif %}

                                    <p> {% autoescape off %}
                                            {% if good.bodyline %}
                                                {{ good.bodyline|truncatechars_html:720 }} 
                                            {% else %}
                                                {{ good.description|truncatechars_html:360 }} 
                                            {% endif %}
                                        {% endautoescape %}</p>
                                    <div class="pro-actions">
                                        <div class="actions-secondary">
                                            {% comment %} <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a> {% endcomment %}
                                            <a class="add-cart" href="{% url "carts:cart_add" %}" data-product-id="{{ good.id }}" data-toggle="tooltip" title="Add to cart">{% csrf_token %}В корзину</a>
                                            {% comment %} <a href="compare.html" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-signal"></i></a> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product Start -->
                             {% endfor %}
                            
                        <!-- #list view End -->
                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
                <!--Breadcrumb and Page Show Start -->
                {% if page_obj.has_other_pages %}
                
                <div class="pagination-box fix">
                    <ul class="blog-pagination ">

                        {% if page_obj.has_previous %}

                                {% if page_obj.previous_page_number > 1 %}
                                    <li><a href="?{% change_params page=page_obj.previous_page_number %}"><i class="fa fa-angle-left"></i></a></li>
                                {% endif %}

                            <li><a href="?{% change_params page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a></li>

                        {% endif %}
                        
                        <li class="active"><a>{{ page_obj.number }}</a></li>

                        {% if page_obj.has_next%}
                            <li><a href="?{% change_params page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a></li>
                        

                            {% if page_obj.next_page_number < page_obj.paginator.num_pages %}
                                <li><a href="?{% change_params page=page_obj.next_page_number %}"><i class="fa fa-angle-right"></i></a></li>
                            {% endif %}


                        {% endif %}

                    </ul>
                    <div class="toolbar-sorter-footer">
                        <label>show</label>
                        <select class="sorter" name="sorter">
                            <option value="Position" selected="selected">12</option>
                            <option value="Product Name">15</option>
                            <option value="Price">30</option>
                        </select>
                        <span>per page</span>
                    </div>
                </div>
                {% endif %}
                <!--Breadcrumb and Page Show End -->
            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
{% endblock %}